-extends "base.haml"

-set title = "Add an image"

-block content
  %form(action="#{uri_for('image')}", method="POST")
    %legend Add Image
    %div
      %label(for="filename") Filename
      %input(type="text", name="filename")

    %div
      %label(for="image_source") Image Source
      %input(type="text", name="image_source")

    %div
      %button(type="submit") Submit Image
