-extends "base.haml"

-set title = "Manage your images"

-block content
  .row
    .col-md-4
      %h4 Add Image
      %form(action="#{uri_for('dashboard.images')}", method="POST", role="form")
        .form-group
          %input.form-control.input-lg(type="text", name="filename", \
                                       placeholder="Filename")

        .form-group
          %input.form-control.input-lg(type="text", name="image_source", \
                                       placeholder="Image URL")

        %button.btn.btn-lg.btn-success(type="submit") Submit Image

    .col-md-8
      %h4 Your Images
      -for image in images
        .well.well-sm
          %h5 #{image.filename}
          .input-group.input-group-lg
            %input.form-control.input-lg(\
              type="text", \
              value="http://#{request.host ~ uri_for('tracking_image', filename=image.filename)}")
